#harten {
    width: 150px;
    height: 250px;
    background-color: white;
    border: 1px solid black
}

#klaveren {
    width: 150px;
    height: 250px;
    background-color: white;
    border: 1px solid black
}

#schoppen {
    width: 150px;
    height: 250px;
    background-color: white;
    border: 1px solid black
}

#ruiten {
    width: 150px;
    height: 250px;
    background-color: white;
    border: 1px solid black
}