* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: rgb(3, 180, 48);
}


#klaveren {
    width: 150px;
    height: 205px;
    background-color: white;
    border-radius: 5%;  
    font-size: 22px;
}

#klaverlinks {
    text-align: left;   
    justify-content: flex-end;
    padding-left: 5px;
    padding-top: 5px;
}

#klaverlinks img {
    padding-left: 5px;
    padding-top: 5px;
}

#klaverrechts {
    text-align: left;
    rotate: 180deg;
    padding-top: 150px;
}

#klaverrechts img {
    padding-bottom: 150px;
    padding-left: 5px;
}

#harten {
    width: 150px;
    height: 205px;
    background-color: white;
    border-radius: 5%;
    margin-left: 150px;
    font-size: 22px;
    color: rgb(221, 6, 13);
}

#schoppen {
    width: 150px;
    height: 205px;
    background-color: white;
    border-radius: 5%;
    margin-left: 300px;
    font-size: 22px;
}

#ruiten {
    width: 150px;
    height: 205px;
    background-color: white;
    border-radius: 5%;
    margin-left: 450px;
    font-size: 22px;
    color: rgb(221, 6, 13);
}